body {
  font-family: sans-serif;
}

/* .header-container {
  margin-left: 15px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
} */

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* border: 1px solid rgba(150, 150, 150); */
  margin: 100px auto;
  /* padding: 50px; */
}

.child__result {
  display: flex;
  justify-content: flex-end;
  background-color: rgba(150, 150, 150);
  color: #fff;
  width: 300px;
  height: 50px;
}

.child__container {
  display: flex;
  width: 300px;
}

.button_key {
  background-color: rgb(215, 215, 215);
  width: 75px;
  height: 50px;
  border: none;
  border-right: 1px solid #d1cfcf;
  border-top: 1px solid #d1cfcf;
}

.button_operator,
.equal {
  background-color: #ff8000;
  border: none;
  border-right: 1px solid #d1cfcf;
  border-top: 1px solid #d1cfcf;
  width: 75px;
}

.zero {
  width: 150px;
}

.nav {
  display: flex;
  align-items: center;
}

h1,
p {
  padding-left: 15px;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  gap: 20px;
  width: 80%;
}

.nav-items li {
  border: none;
  border-right: 1px solid;
  padding: 10px;
}

#quotelink {
  border: none;
}
