.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 100px auto;
  width: 300px;
  padding: 2rem;
}

.child__result {
  display: flex;
  justify-content: flex-end;
  background-color: rgba(150, 150, 150);
  color: #fff;
  width: 300px;
  height: 50px;
}

.child__container {
  display: flex;
  width: 300px;
}

.button_key {
  background-color: rgb(215, 215, 215);
  width: 75px;
  height: 50px;
  border: none;
  border-right: 1px solid #d1cfcf;
  border-top: 1px solid #d1cfcf;
}

.button_operator,
.equal {
  background-color: #ff8000;
  border: none;
  border-right: 1px solid #d1cfcf;
  border-top: 1px solid #d1cfcf;
  width: 75px;
}

.zero {
  width: 150px;
}
